/*heading styles*/
    h1 {
    font-family: "Arial", sans-serif;
    color:#F4FFF8;
    background-color: #000f08;
}


/*table*/
table {
    background-color: #4D4847;
}

tr {
    font-family:"Cambria", serif;
    color:#F4FFF8;
}
/*unvisited link*/
a:link {
    color: #F4FFF8;
    text-decoration: none;
    font-family:"Cambria", serif;
}

/*visited link*/
a:visited {
    color: #F4FFF8;
    text-decoration: none;
    font-family:"Cambria", serif;
}

/*mouse over link*/
a:hover {
    color: #BE7C4D;
    text-decoration: none;
    font-family:"Cambria", serif;
}

/*selected link*/
a:active {
    color:#BE7C4D;
    text-decoration: none;
    font-family:"Cambria", serif;
}
