/*heading styles*/
    h1 {
    font-family: "Arial", sans-serif;
    font-size: 70pt
    color:#F4FFF8;
    background-color: #000f08;
}

    h2 {
        font-family: "Arial", sans-serif;
        font-size: 40pt
        color:#4D4847;
}

/* The navbar container */
    .menu {
        overflow: hidden;
        background-color: #333;
    }

/* Navbar links */
    .menu a {
        float: center;
        display: block;
        color: #F4FFF8;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color: #4D4847;
}

/* Links - change color on hover */
    .topnav a:hover {
        background-color: #BE7C4D;
        color: #F4FFF8;
}
/*table*/
table {
    background-color: #4D4847;
}

tr {
    font-family:"Cambria", serif;
    font-size: 30pt
    color:#F4FFF8;
    text-align: center;
}
/*unvisited link*/
a:link {
    color: #F4FFF8;
    text-decoration: none;
    font-family:"Cambria", serif;
    font-size: 30pt
}

/*visited link*/
a:visited {
    color: #F4FFF8;
    text-decoration: none;
    font-family:"Cambria", serif;
    font-size: 30pt
}

/*mouse over link*/
a:hover {
    color: #BE7C4D;
    text-decoration: none;
    font-family:"Cambria", serif;
    font-size: 30pt
}

/*selected link*/
a:active {
    color:#BE7C4D;
    text-decoration: none;
    font-family:"Cambria", serif
    font-size: 30pt
}
