/*heading styles*/
    h1 {
        font-family: "Arial", sans-serif;
        font-size: 70pt;
        color: black;
        background-color: white;
        margin-left:0px;
        margin-right:0px;
        margin-top:0px;
        margin-bottom:0px;
        Padding-left:10%;
        padding-right:10%;
        padding-top:10%;
        padding-bottom:10%;
}

    h2 {
        font-family: "Arial", sans-serif;
        font-size: 40pt
        color:black;
        Padding-left:10%;
        padding-right:10%;
        padding-top:10%;
        padding-bottom:10%;
}

    h3 {
        font-family: "Arial", sans-serif;
        font-size: 20pt;
        color: black;
        Padding-left:10%;
        padding-right:10%;
        padding-top:10%;
        padding-bottom:10%;
    }

/*body*/

body{
    background-color: white;
    color: black;
    font-family: "arial", sans-serif;
    font-size: 16pt;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    Padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    Padding-left:10%;
    padding-right:10%;
    padding-top:10%;
    padding-bottom:10%;
}

/*table*/

table {
    background-color: black;
}

tr {
    font-family:"arial", sans-serif;
    font-size: 30pt
    color:#F4FFF8;
    text-align: center;

}
/*unvisited link*/
a:link {
    color: #BE7C4D;
    text-decoration: none;
    font-family:"arial", sans-serif;
    font-size: 30pt
}

/*visited link*/
a:visited {
    color: #BE7C4D;
    text-decoration: none;
    font-family:"arial", sans-serif;
    font-size: 30pt
}

/*mouse over link*/
a:hover {
    color: #BE7C4D;
    text-decoration: none;
    font-family:"arial", sans-serif;
    font-size: 30pt
}

/*selected link*/
a:active {
    color:#BE7C4D;
    text-decoration: none;
    font-family: "arial", sans-serif;
    font-size: 30pt
}

/*navigation unordered list*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4D4847;
    color: white;
    Padding-left:10%;
    padding-right:10%;
    padding-top:10%;
    padding-bottom:10%;
}

li {
    float: left;
    color: black;
    Padding-left:10%;
    padding-right:10%;
    padding-top:10%;
    padding-bottom:10%;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #BE7C4D;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
    color: #BE7C4D;
}

li.dropdown {
    display: inline-block;
    color: #BE7C4D
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
    z-index: 1;
}

.dropdown-content a {
    color: #BE7C4D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #4D4847}

.dropdown:hover .dropdown-content {
    display: block;
}
/*captions for img*/
figcaption {
    display: block;
}

/*footer*/
footer {
    text-align: center;
    padding: 10px;
}
